.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;

  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ff0000;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      cursor: pointer;
    }
  }
}
.itens {
  width: 100px;
  min-height: 200px;
  background-color: #000000;
  position: absolute;
  z-index: 1;
}

.inputDateContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  :last-child {
    padding: 0px 10px 0px 0px;
    color: #fff;
  }
  .inputDate {
    width: 40px;
    background-color: #00000000;
    border: none;
    font-size: 16px;
    color: #fff;
    outline-style: none;
  }
}
