.container {
  width: 300px;
  height: 100vh;
  background-color: #101010;
  user-select: none;
  position: fixed;
  z-index: 2;
  .menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 2;
    height: 100vh;
    padding: 10px 0px;
    background-color: #101010;
    .top {
      height: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      .logo {
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 0px;
        margin: 20px 0px;
        a {
          display: flex;
          align-items: center;
        }
      }
      .list {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        align-items: center;
        margin: 15px 0px;

        .userDrawerInBottom {
          display: flex;
          margin-top: auto;
        }
      }
      .yourList {
        overflow-x: scroll;
        background-color: aqua;
      }
    }
  }
}
.drawer {
  width: 400px;
  margin-left: 300px;
  height: 100vh;
  position: absolute;
  z-index: -1;
  background-color: #161616;
  display: none;
  flex-direction: column;
}

.showDrawer {
  animation-name: showDrawerAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  display: flex;
}
.hideDrawer {
  display: flex;
  animation-name: hideDrawerAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes showDrawerAnime {
  0% {
    margin-left: -100px;
  }
  100% {
    margin-left: 300px;
  }
}

@keyframes hideDrawerAnime {
  0% {
    margin-left: 300px;
    display: flex;
  }
  100% {
    margin-left: -100px;
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    width: 50px;
  }
  .drawer {
    width: 300px;
  }
  @keyframes showDrawerAnime {
    0% {
      margin-left: -350px;
    }
    100% {
      margin-left: 50px;
    }
  }

  @keyframes hideDrawerAnime {
    0% {
      margin-left: 50px;
      display: flex;
    }
    100% {
      margin-left: -350px;
      display: none;
    }
  }
}
