.container {
  width: 300px;
  height: 100vh;
  user-select: none;
  position: fixed;
  z-index: 2;
  .menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    padding: 10px 0px;
    background-color: #161616;
    .top {
      height: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      .logo {
        justify-content: center;
        display: /* flex */ none;
        align-items: center;
        padding: 0px;
        margin: 20px 0px;
        a {
          display: flex;
          align-items: center;
          > :first-child {
            width: 80px;
            height: 80px;
          }
        }
      }
      .list {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        align-items: center;

        .userDrawerInBottom {
          display: flex;
          margin-top: auto;
        }
        .userLoginBottom {
          margin-top: 10px;
          min-height: 35px;
        }
      }
      .yourList {
        overflow-x: scroll;
        background-color: aqua;
        display: none;
      }
    }
  }
}
.drawer {
  width: 400px;
  margin-left: 300px;
  height: 100vh;
  position: absolute;
  z-index: -1;
  background-color: #161616;
  display: none;
  flex-direction: column;
}

.showDrawer {
  animation-name: showDrawerAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  display: flex;
}
.hideDrawer {
  display: flex;
  animation-name: hideDrawerAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes showDrawerAnime {
  0% {
    margin-left: -100px;
  }
  100% {
    margin-left: 300px;
  }
}

@keyframes hideDrawerAnime {
  0% {
    margin-left: 300px;
    display: flex;
  }
  100% {
    margin-left: -100px;
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    width: 50px;
    .logo {
      a {
        > :first-child {
          width: 50px !important;
          height: 50px !important;
        }
      }
    }
  }
  .drawer {
    width: 300px;
  }
  @keyframes showDrawerAnime {
    0% {
      margin-left: -350px;
    }
    100% {
      margin-left: 50px;
    }
  }

  @keyframes hideDrawerAnime {
    0% {
      margin-left: 50px;
      display: flex;
    }
    100% {
      margin-left: -350px;
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 0%;
    .menu {
      width: calc(100vw - 40px);
      position: absolute;
      background-color: #000000f3;
      box-shadow: 0px 0px 10px 0px #ffffff21;
      height: 50px;
      z-index: 2;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0px 20px;
      margin-bottom: 5px;
      border-radius: 20px;
      bottom: 0px;
      .top {
        flex-direction: row;
        align-items: center;
        .list {
          flex-direction: row;
          .userDrawerInBottom {
            display: none;
          }
          .userLoginBottom {
            margin: 0px;
          }
        }
      }
    }
  }
}
